<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <h1>Web Girlies</h1>
  <main>
    <section>
      <p id="time"></p>
    </section>
    <!-- Login pagina -->
    <section>
      <h2>Choose your nickname</h2>
      <form>
        <input type="text" id="username-input" placeholder="Enter your username">
      </form>

      <button>Start a chat</button>
    </section>

    <!-- ChatPagina -->
    <section>
      <button id="back-button">Go back</button>
       <!-- Hier zijn de berichten -->
      <ul></ul>
      <form id="chat-form">
        <input type="text" id="message-input" autocomplete="off" placeholder="Type your message..">
        <button type="submit" id="message-button"><span>Send</span></button>
      </form>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/script.js"></script>
</body>

</html>