* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #01061E;
    --blue-pink-gradient: linear-gradient(175.66deg, #26B3C7 3.53%, #F19DFF 78.23%);
    --white: white;
    --low-opacity-pink: #F0C3F8;
    --light-pink: #f7cdf1;
    --low-opacity-white: rgba(255, 255, 255, 0.53);

    /*User colors*/
    --dark-red: hsla(0, 100%, 29%, 1);
    --dark-green: #067D68;
    --blue: #15236D;
    --text: 'Commissioner', sans-serif;
    --title: 'Commisioner', sans-serif;
}

html {
    width: 100%;
}

body {
    background-image: var(--blue-pink-gradient);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    font-family: var(--text);
    font-weight: 400;
    position: relative;
}

h1 {
    font-family: var(--title);
    font-weight: 700;
    background-color: var(--low-opacity-white);
    padding: .5em;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {

    margin: .5em;
    width: 100%;
    height: 80vh;

}

/********/
/* FORM */
/********/
main section:nth-child(3) {
    width: 100%;
    height: 93%;
}

main section:nth-child(3) form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

main section:nth-child(3) ul {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 95%;
    height: 100%;
    /* background-color: red; */
}

main section:nth-child(3) ul::-webkit-scrollbar {
    border-radius: 5em;
    width: .5em;

    display: none;
}

/*************/
/* HIDE FORM */
/*************/
main section:nth-child(3).hidden,
main section:nth-child(2).hidden {
    display: none;
}

/*****************/
/* SPEECH BUBBLE */
/*****************/
main section:nth-child(3) ul li.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: fit-content;
    min-width: 10%;
    max-width: 30%;
    height: fit-content;
    background-color: var(--light-pink);
    padding: 1em;
    box-shadow: 2px 4px rgba(0 0 0/ 0.3);
    word-wrap: break-word;
}

main section:nth-child(3) ul li.border {
    border-radius: 1em;

}

main section:nth-child(3) ul li.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;

}

main section:nth-child(3) ul li.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: var(--light-pink)  var(--light-pink) transparent transparent;
    filter: drop-shadow(2px 4px rgba(0 0 0/0.3))
}

main section:nth-child(3) ul li.own-message {
    align-self: end;
    background-color: var(--white);
}

/* Het Puntje */
main section:nth-child(3) ul li.own-message.tri-right.btm-left-in:after {
    border-color: var(--white) transparent transparent var(--white);
}

/* Username gedeelte boven het bericht */
main section:nth-child(3) ul li span {
    display: block;
    padding-bottom: .5em;
    font-weight: 700;
}

main section:nth-child(3) ul li span::first-letter {
    text-transform: uppercase;
}
/* User is typing */
main section:nth-child(3).focus form::after {
    content: 'someone is typing...';
    position: absolute;
    top: -5em;
    background-color: var(--low-opacity-white);
    padding: 1em 1.5em;
    border-radius: 1em;

}


/****************/
/* Time */
/****************/
#time {
    text-align: right;
}

/****************/
/* CHAT INPUT   */
/****************/
#chat-form {
    background-color: var(--low-opacity-pink);
    padding: 2em;
    display: flex;
    gap: 2em;
}

/* input type text */
#message-input {
    width: 80%;
    height: 2em;
    border: none;
    border-radius: .5em;
    background-color: var(--white);
    font-family: var(--text);
    font-weight: 400;
    font-size: 1.2em;
    padding: 1em;
}

/*  submit button */
#message-button {
    width: 5em;
    border: none;
    border-radius: .5em;
    background-color: var(--low-opacity-pink);
    border: 2px solid var(--dark-blue);
}

/******************/
/* RESPONSIVENESS */
/******************/
@media (min-width: 40em) {
    main {
        margin: 0 auto;
        width: 75%;
    }
}